
/* screen - front-of-card */

/* screen - front-of-card */

.front-of-card {
  background-color: transparent;
  height: 597px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}

.front-of-card .group-525-CZCoxR {
  background-color: transparent;
  height: 532px;
  left: 13px;
  position: absolute;
  top: 27px;
  width: 336px;
}

.front-of-card .moble-comic-half-card-qyQE6a {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.front-of-card .half-mobile-card-idw7jc {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1px);
}

.front-of-card .group-330-5We9Ny {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.front-of-card .group-327-4K4ox0 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: relative;
  top: 0px;
  width: 100%;
}

.front-of-card .group-264-4X8o3s {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 1px;
  width: 100%;
}

.front-of-card .mobile-card-background-x589Lk {
  background-color: transparent;
  height: 100%;
  left: 14px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 19px);
}

.front-of-card .path-198-jSnUk7 {
  background-color: transparent;
  height: calc(100.00% + 7px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 7px);
}

.front-of-card .path-208-x589Lk {
  background-color: transparent;
  bottom: 47px;
  height: 129px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.front-of-card .group-368-idw7jc {
  background-color: transparent;
  height: calc(100.00% - 23px);
  left: 0px;
  position: absolute;
  top: 13px;
  width: calc(100.00% - 1px);
}

.front-of-card .title-qbmlZT {
  background-color: transparent;
  color: #1c7db1;
  font-family: var(--font-family-pt_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: 31px;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 230px;
  position: absolute;
  text-align: left;
  top: -111px;
  white-space: nowrap;
  width: 248px;
}

.front-of-card .path-208-qbmlZT {
  background-color: transparent;
  bottom: 50px;
  height: 128px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.front-of-card .auction-edition-lection-buttons-qbmlZT {
  background-color: transparent;
  bottom: calc(31.13% - 6px);
  height: 19px;
  left: 30px;
  position: absolute;
  width: 80px;
}

.front-of-card .group-230-g8QEM6 {
  background-color: transparent;
  height: 100%;
  left: calc(49.64% - 9px);
  position: absolute;
  top: 1px;
  width: 18px;
}

.front-of-card .path-93-yM1Z3d {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -4px;
  object-fit: cover;
  position: absolute;
  top: -6px;
  width: calc(100.00% + 18px);
}

.front-of-card .group-372-yM1Z3d {
  background-color: transparent;
  height: 14px;
  position: absolute;
  right: calc(50.00% - 6px);
  top: calc(50.00% - 7px);
  width: 12px;
}

.front-of-card .x10-4RCPQL {
  background-color: transparent;
  bottom: 535.71%;
  color: #7fa354;
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 600;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 168px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 1px 1px #00000029;
  white-space: nowrap;
  width: 14px;
}

.front-of-card .group-232-g8QEM6 {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 19px;
}

.front-of-card .group-371-C8xZxV {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.front-of-card .path-94-NXp1ym {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -4px;
  object-fit: cover;
  position: absolute;
  top: -6px;
  width: calc(100.00% + 18px);
}

.front-of-card .x5-NXp1ym {
  background-color: transparent;
  bottom: calc(2419.32% - 387px);
  color: #618fa3;
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 600;
  height: 16px;
  letter-spacing: 0.00px;
  line-height: 156px;
  position: absolute;
  right: calc(40.75% - 3px);
  text-align: center;
  text-shadow: 0px 1px 1px #00000029;
  white-space: nowrap;
  width: 8px;
}

.front-of-card .group-352-g8QEM6 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 19px;
}

.front-of-card .path-90-5wXWB0 {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -4px;
  object-fit: cover;
  position: absolute;
  top: -6px;
  width: calc(100.00% + 18px);
}

.front-of-card .polygon-8-qbmlZT {
  background-color: transparent;
  bottom: 0px;
  height: 13px;
  object-fit: cover;
  position: absolute;
  right: 22px;
  width: 18px;
}

.front-of-card .card-meta-qbmlZT {
  background-color: transparent;
  bottom: 18px;
  height: 177px;
  left: 28px;
  position: absolute;
  width: calc(100.00% - 49px);
}

.front-of-card .group-224-hfpUTO {
  background-color: transparent;
  height: 7.62%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 14.64%;
}

.front-of-card .edition-time-remaining-hfpUTO {
  background-color: transparent;
  color: #707070;
  font-family: var(--font-family-pt_sans);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 15.93%;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 1.13%;
  width: 46.21%;
}

.front-of-card .karen-bell-prop-re-gender-aware-hfpUTO {
  background-color: transparent;
  color: #272727;
  font-family: var(--font-family-pt_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 90px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 29.28%;
  width: 100.28%;
}

.front-of-card .group-364-hfpUTO {
  background-color: transparent;
  bottom: 0px;
  height: 66px;
  left: 0px;
  position: absolute;
  width: calc(100.00% - 2px);
}

.front-of-card .group-363-Dj0wEW {
  background-color: transparent;
  bottom: 4px;
  height: 28px;
  position: absolute;
  right: 0px;
  width: 70px;
}

.front-of-card .path-228-XMHxf4 {
  background-color: transparent;
  height: calc(100.00% + 4px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% + 3px);
}

.front-of-card .buy-XMHxf4 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: 90.26%;
  left: 27.24%;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 14.64%;
  white-space: nowrap;
  width: 48.36%;
  cursor: pointer;
}

.front-of-card .group-557-Dj0wEW {
  background-color: transparent;
  height: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 70px;
}

.front-of-card .path-228-OKNdkX {
  background-color: transparent;
  height: calc(100.00% + 4px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% + 3px);
}

.front-of-card .sold-OKNdkX {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: 90.26%;
  left: 24.40%;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 19.31%;
  white-space: nowrap;
  width: 54.04%;
}

.front-of-card .group-320-Dj0wEW {
  background-color: transparent;
  bottom: 0px;
  height: 35px;
  left: 0px;
  position: absolute;
  width: 192px;
}

.front-of-card .karen-bell-8z9LSN {
  background-color: transparent;
  color: #1c7db1;
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: -2px;
  width: 157px;
}

.front-of-card .group-225-8z9LSN {
  background-color: transparent;
  height: 31.40%;
  left: 0.96%;
  position: absolute;
  top: 68.60%;
  width: 99.04%;
}

.front-of-card .edition-uJtLxq {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 224px;
  position: absolute;
  text-align: left;
  top: -106px;
  white-space: nowrap;
  width: auto;
}

.front-of-card .x0x4210-uJtLxq {
  background-color: transparent;
  color: var(--tuatara);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: 191px;
  position: absolute;
  text-align: left;
  top: -89px;
  white-space: nowrap;
  width: auto;
}

.front-of-card .raised-uJtLxq {
  background-color: transparent;
  height: auto;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: 224px;
  position: absolute;
  text-align: left;
  top: -106px;
  white-space: nowrap;
  width: auto;
}

.front-of-card .x1500-uJtLxq {
  background-color: transparent;
  height: auto;
  left: 95px;
  letter-spacing: 0.00px;
  line-height: 220px;
  position: absolute;
  text-align: left;
  top: -104px;
  white-space: nowrap;
  width: auto;
}

.front-of-card .x200-eqs-uJtLxq {
  background-color: transparent;
  height: auto;
  left: 157px;
  letter-spacing: 0.00px;
  line-height: 220px;
  position: absolute;
  text-align: left;
  top: -104px;
  white-space: nowrap;
  width: auto;
}

.front-of-card .ar-uJtLxq {
  background-color: transparent;
  height: auto;
  left: 120px;
  letter-spacing: 0.00px;
  line-height: 224px;
  position: absolute;
  text-align: left;
  top: -106px;
  white-space: nowrap;
  width: auto;
}

.front-of-card .pst-uJtLxq {
  background-color: transparent;
  height: auto;
  left: 138px;
  letter-spacing: 0.00px;
  line-height: 224px;
  position: absolute;
  text-align: left;
  top: -106px;
  white-space: nowrap;
  width: auto;
}

.front-of-card .group-362-hfpUTO {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: 1px;
  top: 22px;
  width: 115px;
}

.front-of-card .path-200-UJmEZH {
  background-color: transparent;
  bottom: 1px;
  height: 16px;
  object-fit: cover;
  position: absolute;
  right: calc(33.19% - 6px);
  width: 19px;
}

.front-of-card .group-226-UJmEZH {
  background-color: transparent;
  height: 100%;
  left: calc(32.76% - 5px);
  position: absolute;
  top: 0px;
  width: 15px;
}

.front-of-card .group-113-mYPmAm {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.front-of-card .path-176-uf5ofD {
  background-color: transparent;
  height: calc(100.00% - 4px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: calc(100.00% + 1px);
}

.front-of-card .line-2-uf5ofD {
  background-color: transparent;
  height: 14px;
  object-fit: cover;
  position: absolute;
  right: 50.00%;
  top: -1px;
  width: 1px;
}

.front-of-card .line-3-uf5ofD {
  background-color: transparent;
  height: 4px;
  left: calc(35.59% - 2px);
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 4px;
}

.front-of-card .line-4-uf5ofD {
  background-color: transparent;
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: calc(35.87% - 2px);
  top: -1px;
  width: 4px;
}

.front-of-card .amyi-mk-UJmEZH {
  background-color: transparent;
  height: calc(100.00% - 2px);
  position: absolute;
  right: 1px;
  top: 2px;
  width: 19px;
}

.front-of-card .group-3-7cja2K {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.front-of-card .path-28-xH06Xy {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.front-of-card .path-29-xH06Xy {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.front-of-card .path-30-xH06Xy {
  background-color: transparent;
  bottom: 1px;
  height: 7px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 3px);
}

.front-of-card .path-31-xH06Xy {
  background-color: transparent;
  height: 8px;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 4px);
  top: 1px;
  width: 8px;
}

.front-of-card .group-347-UJmEZH {
  background-color: transparent;
  bottom: 1px;
  height: 16px;
  left: 0px;
  position: absolute;
  width: 16px;
  cursor: pointer;
}

.front-of-card .line-20-esxHMw {
  background-color: transparent;
  height: calc(100.00% + 1px);
  object-fit: cover;
  position: absolute;
  right: 48.55%;
  top: -1px;
  width: 1px;
}

.front-of-card .path-227-esxHMw {
  background-color: transparent;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 50.00%;
  width: calc(100.00% + 1px);
}

.front-of-card .view-card-nft-CZCoxR {
  background-color: transparent;
  color: #00a8e6;
  font-family: var(--font-family-pt_sans);
  font-size: var(--font-size-xss);
  font-style: normal;
  font-weight: 700;
  height: 20px;
  left: 241px;
  letter-spacing: 0.01px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 351px;
  width: 94px;
  cursor: pointer;
}

.front-of-card .rectangle-519-CZCoxR {
  background-color: transparent;
  height: 261px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 84px;
  width: 313px;
}

.front-of-card .httpsbitly3-fpiim-c-CZCoxR {
  background-color: transparent;
  color: #9b9b9b;
  font-family: var(--font-family-open_sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: 212px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 324px;
  width: 129px;
}


/* screen - back-of-card */


.back-of-card {
  background-color: transparent;
  height: 597px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}

.back-of-card .group-526-LPwaVb {
  background-color: transparent;
  height: 538px;
  left: 20px;
  position: absolute;
  top: 27px;
  width: 335px;
}

.back-of-card .group-330-qosaPK {
  background-color: transparent;
  height: calc(100.00% - 6px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.back-of-card .group-327-YslpTr {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: relative;
  top: 1px;
  width: 100%;
}

.back-of-card .group-264-wopAuJ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.back-of-card .mobile-card-background-9uqrox {
  background-color: transparent;
  height: 100%;
  left: 4px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 19px);
}

.back-of-card .path-198-YjxdRi {
  background-color: transparent;
  height: calc(100.00% + 7px);
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 7px);
}

.back-of-card .path-208-9uqrox {
  background-color: transparent;
  bottom: 47px;
  height: 129px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.back-of-card .group-533-qosaPK {
  background-color: transparent;
  bottom: 14px;
  height: 80px;
  position: absolute;
  right: calc(19.88% - 7px);
  width: 37px;
}

.back-of-card .ellipse-266-anmp1v {
  background-color: var(--gray);
  border-radius: 2.56px;
  height: 5px;
  left: 0px;
  position: absolute;
  top: calc(17.85% - 1px);
  width: 5px;
}

.back-of-card .ellipse-267-anmp1v {
  background-color: var(--olive);
  border-radius: 2.56px;
  height: 5px;
  left: calc(19.77% - 1px);
  position: absolute;
  top: calc(17.85% - 1px);
  width: 5px;
}

.back-of-card .ellipse-268-anmp1v {
  background-color: var(--green);
  border-radius: 2.56px;
  height: 5px;
  left: calc(39.54% - 2px);
  position: absolute;
  top: calc(17.85% - 1px);
  width: 5px;
}

.back-of-card .ellipse-269-anmp1v {
  background-color: var(--gray);
  border-radius: 2.56px;
  height: 5px;
  position: absolute;
  right: calc(40.69% - 2px);
  top: calc(17.85% - 1px);
  width: 5px;
}

.back-of-card .ellipse-270-anmp1v {
  background-color: var(--gray);
  border-radius: 2.56px;
  height: 5px;
  position: absolute;
  right: calc(20.93% - 1px);
  top: calc(17.85% - 1px);
  width: 5px;
}

.back-of-card .ellipse-271-anmp1v {
  background-color: var(--lemon-glacier);
  border-radius: 2.56px;
  height: 5px;
  left: 0px;
  position: absolute;
  top: calc(27.95% - 1px);
  width: 5px;
}

.back-of-card .ellipse-272-anmp1v {
  background-color: #8e0080;
  border-radius: 2.56px;
  height: 5px;
  left: calc(19.77% - 1px);
  position: absolute;
  top: calc(27.95% - 1px);
  width: 5px;
}

.back-of-card .ellipse-273-anmp1v {
  background-color: #f0f0f0;
  border-radius: 2.56px;
  height: 5px;
  left: calc(39.54% - 2px);
  position: absolute;
  top: calc(27.95% - 1px);
  width: 5px;
}

.back-of-card .ellipse-274-anmp1v {
  background-color: var(--black);
  border-radius: 2.56px;
  height: 5px;
  position: absolute;
  right: calc(40.69% - 2px);
  top: calc(27.95% - 1px);
  width: 5px;
}

.back-of-card .ellipse-275-anmp1v {
  background-color: #202529;
  border-radius: 2.56px;
  height: 5px;
  position: absolute;
  right: calc(20.93% - 1px);
  top: calc(27.95% - 1px);
  width: 5px;
}

.back-of-card .ellipse-276-anmp1v {
  background-color: var(--green);
  border-radius: 2.56px;
  height: 5px;
  left: 0px;
  position: absolute;
  top: calc(37.08% - 2px);
  width: 5px;
}

.back-of-card .ellipse-277-anmp1v {
  background-color: var(--red);
  border-radius: 2.56px;
  height: 5px;
  left: calc(19.77% - 1px);
  position: absolute;
  top: calc(37.08% - 2px);
  width: 5px;
}

.back-of-card .ellipse-278-anmp1v {
  background-color: var(--red);
  border-radius: 2.56px;
  height: 5px;
  left: calc(39.54% - 2px);
  position: absolute;
  top: calc(37.08% - 2px);
  width: 5px;
}

.back-of-card .ellipse-279-anmp1v {
  background-color: var(--lemon-glacier);
  border-radius: 2.56px;
  height: 5px;
  position: absolute;
  right: calc(40.69% - 2px);
  top: calc(37.08% - 2px);
  width: 5px;
}

.back-of-card .ellipse-280-anmp1v {
  background-color: var(--red);
  border-radius: 2.56px;
  height: 5px;
  position: absolute;
  right: calc(20.93% - 1px);
  top: calc(37.08% - 2px);
  width: 5px;
}

.back-of-card .ellipse-281-anmp1v {
  background-color: var(--lemon-glacier);
  border-radius: 2.56px;
  height: 5px;
  left: 0px;
  position: absolute;
  top: calc(46.33% - 2px);
  width: 5px;
}

.back-of-card .ellipse-282-anmp1v {
  background-color: var(--gray);
  border-radius: 2.56px;
  height: 5px;
  left: calc(19.77% - 1px);
  position: absolute;
  top: calc(46.33% - 2px);
  width: 5px;
}

.back-of-card .ellipse-283-anmp1v {
  background-color: var(--red);
  border-radius: 2.56px;
  height: 5px;
  left: calc(39.54% - 2px);
  position: absolute;
  top: calc(46.33% - 2px);
  width: 5px;
}

.back-of-card .ellipse-284-anmp1v {
  background-color: var(--green);
  border-radius: 2.56px;
  height: 5px;
  position: absolute;
  right: calc(40.69% - 2px);
  top: calc(46.33% - 2px);
  width: 5px;
}

.back-of-card .ellipse-285-anmp1v {
  background-color: var(--black);
  border-radius: 2.56px;
  height: 5px;
  position: absolute;
  right: calc(20.93% - 1px);
  top: calc(46.33% - 2px);
  width: 5px;
}

.back-of-card .ellipse-286-anmp1v {
  background-color: var(--black);
  border-radius: 2.56px;
  bottom: calc(44.69% - 2px);
  height: 5px;
  left: 0px;
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-287-anmp1v {
  background-color: var(--deep-blue);
  border-radius: 2.56px;
  bottom: calc(44.69% - 2px);
  height: 5px;
  left: calc(19.77% - 1px);
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-288-anmp1v {
  background-color: var(--deep-blue);
  border-radius: 2.56px;
  bottom: 0px;
  height: 5px;
  position: absolute;
  right: 0px;
  width: 5px;
}

.back-of-card .ellipse-289-anmp1v {
  background-color: var(--black);
  border-radius: 2.56px;
  bottom: calc(44.69% - 2px);
  height: 5px;
  left: calc(39.54% - 2px);
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-290-anmp1v {
  background-color: var(--olive);
  border-radius: 2.56px;
  bottom: calc(44.69% - 2px);
  height: 5px;
  position: absolute;
  right: calc(40.69% - 2px);
  width: 5px;
}

.back-of-card .ellipse-291-anmp1v {
  background-color: var(--deep-blue);
  border-radius: 2.56px;
  height: 5px;
  left: calc(19.77% - 1px);
  position: absolute;
  top: 6px;
  width: 5px;
}

.back-of-card .ellipse-292-anmp1v {
  background-color: var(--olive);
  border-radius: 2.56px;
  height: 5px;
  position: absolute;
  right: calc(40.69% - 2px);
  top: 6px;
  width: 5px;
}

.back-of-card .ellipse-293-anmp1v {
  background-color: #c0c0c0;
  border-radius: 2.56px;
  bottom: calc(44.69% - 2px);
  height: 5px;
  position: absolute;
  right: calc(20.93% - 1px);
  width: 5px;
}

.back-of-card .ellipse-294-anmp1v {
  background-color: var(--lemon-glacier);
  border-radius: 2.56px;
  bottom: calc(34.76% - 2px);
  height: 5px;
  left: 1px;
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-295-anmp1v {
  background-color: var(--lemon-glacier);
  border-radius: 2.56px;
  bottom: calc(34.76% - 2px);
  height: 5px;
  left: calc(20.22% - 1px);
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-296-anmp1v {
  background-color: var(--black);
  border-radius: 2.56px;
  bottom: calc(34.76% - 2px);
  height: 5px;
  left: calc(39.98% - 2px);
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-297-anmp1v {
  background-color: #8b0000;
  border-radius: 2.56px;
  bottom: calc(34.76% - 2px);
  height: 5px;
  position: absolute;
  right: calc(40.25% - 2px);
  width: 5px;
}

.back-of-card .ellipse-298-anmp1v {
  background-color: var(--black);
  border-radius: 2.56px;
  bottom: calc(34.76% - 2px);
  height: 5px;
  position: absolute;
  right: calc(20.48% - 1px);
  width: 5px;
}

.back-of-card .ellipse-299-anmp1v {
  background-color: var(--lemon-glacier);
  border-radius: 2.56px;
  height: 5px;
  left: 1px;
  position: absolute;
  top: 6px;
  width: 5px;
}

.back-of-card .ellipse-300-anmp1v {
  background-color: var(--black);
  border-radius: 2.56px;
  height: 5px;
  left: calc(39.98% - 2px);
  position: absolute;
  top: 6px;
  width: 5px;
}

.back-of-card .ellipse-301-anmp1v {
  background-color: var(--black);
  border-radius: 2.56px;
  height: 5px;
  position: absolute;
  right: calc(20.48% - 1px);
  top: 6px;
  width: 5px;
}

.back-of-card .ellipse-302-anmp1v {
  background-color: var(--lemon-glacier);
  border-radius: 2.56px;
  bottom: calc(26.24% - 1px);
  height: 5px;
  left: 1px;
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-303-anmp1v {
  background-color: #f0f0f0;
  border-radius: 2.56px;
  bottom: calc(26.24% - 1px);
  height: 5px;
  left: calc(20.22% - 1px);
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-304-anmp1v {
  background-color: var(--teal);
  border-radius: 2.56px;
  bottom: calc(26.24% - 1px);
  height: 5px;
  left: calc(39.98% - 2px);
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-305-anmp1v {
  background-color: var(--teal);
  border-radius: 2.56px;
  bottom: calc(26.24% - 1px);
  height: 5px;
  position: absolute;
  right: calc(40.25% - 2px);
  width: 5px;
}

.back-of-card .ellipse-306-anmp1v {
  background-color: var(--gray);
  border-radius: 2.56px;
  bottom: calc(26.24% - 1px);
  height: 5px;
  position: absolute;
  right: calc(20.48% - 1px);
  width: 5px;
}

.back-of-card .ellipse-307-anmp1v {
  background-color: var(--teal);
  border-radius: 2.56px;
  bottom: calc(17.51% - 1px);
  height: 5px;
  left: 1px;
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-308-anmp1v {
  background-color: #202529;
  border-radius: 2.56px;
  bottom: calc(17.51% - 1px);
  height: 5px;
  left: calc(20.22% - 1px);
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-309-anmp1v {
  background-color: var(--white);
  border-radius: 2.56px;
  bottom: calc(17.51% - 1px);
  height: 5px;
  left: calc(39.98% - 2px);
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-310-anmp1v {
  background-color: var(--black);
  border-radius: 2.56px;
  bottom: calc(17.51% - 1px);
  height: 5px;
  position: absolute;
  right: calc(40.25% - 2px);
  width: 5px;
}

.back-of-card .ellipse-311-anmp1v {
  background-color: var(--red);
  border-radius: 2.56px;
  bottom: calc(17.51% - 1px);
  height: 5px;
  position: absolute;
  right: calc(20.48% - 1px);
  width: 5px;
}

.back-of-card .ellipse-312-anmp1v {
  background-color: var(--teal);
  border-radius: 2.56px;
  height: 5px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 5px;
}

.back-of-card .ellipse-313-anmp1v {
  background-color: var(--white);
  border-radius: 2.56px;
  height: 5px;
  left: calc(39.98% - 2px);
  position: absolute;
  top: 0px;
  width: 5px;
}

.back-of-card .ellipse-314-anmp1v {
  background-color: var(--red);
  border-radius: 2.56px;
  height: 5px;
  position: absolute;
  right: calc(20.48% - 1px);
  top: 0px;
  width: 5px;
}

.back-of-card .ellipse-315-anmp1v {
  background-color: var(--gray);
  border-radius: 2.56px;
  bottom: 6px;
  height: 5px;
  left: 1px;
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-316-anmp1v {
  background-color: var(--teal);
  border-radius: 2.56px;
  bottom: 6px;
  height: 5px;
  left: calc(20.22% - 1px);
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-317-anmp1v {
  background-color: #00ffff;
  border-radius: 2.56px;
  bottom: 6px;
  height: 5px;
  left: calc(39.98% - 2px);
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-318-anmp1v {
  background-color: #4200ff;
  border-radius: 2.56px;
  bottom: 6px;
  height: 5px;
  position: absolute;
  right: calc(40.25% - 2px);
  width: 5px;
}

.back-of-card .ellipse-319-anmp1v {
  background-color: var(--gray);
  border-radius: 2.56px;
  bottom: 6px;
  height: 5px;
  position: absolute;
  right: calc(20.48% - 1px);
  width: 5px;
}

.back-of-card .ellipse-320-anmp1v {
  background-color: #c0c0c0;
  border-radius: 2.56px;
  bottom: 0px;
  height: 5px;
  left: 1px;
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-321-anmp1v {
  background-color: var(--olive);
  border-radius: 2.56px;
  bottom: 0px;
  height: 5px;
  left: calc(20.22% - 1px);
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-322-anmp1v {
  background-color: var(--red);
  border-radius: 2.56px;
  bottom: 0px;
  height: 5px;
  left: calc(39.98% - 2px);
  position: absolute;
  width: 5px;
}

.back-of-card .ellipse-323-anmp1v {
  background-color: var(--gray);
  border-radius: 2.56px;
  bottom: 0px;
  height: 5px;
  position: absolute;
  right: calc(40.25% - 2px);
  width: 5px;
}

.back-of-card .ellipse-324-anmp1v {
  background-color: var(--olive);
  border-radius: 2.56px;
  height: 5px;
  left: calc(20.22% - 1px);
  position: absolute;
  top: 0px;
  width: 5px;
}

.back-of-card .ellipse-325-anmp1v {
  background-color: var(--gray);
  border-radius: 2.56px;
  height: 5px;
  position: absolute;
  right: calc(40.25% - 2px);
  top: 0px;
  width: 5px;
}

.back-of-card .ellipse-326-anmp1v {
  background-color: var(--lemon-glacier);
  border-radius: 2.56px;
  bottom: 0px;
  height: 5px;
  position: absolute;
  right: calc(20.48% - 1px);
  width: 5px;
}

.back-of-card .path-539-qosaPK {
  background-color: transparent;
  bottom: 78px;
  height: 0px;
  left: 57px;
  object-fit: cover;
  position: absolute;
  width: 0px;
}

.back-of-card .x0xc0ba1a639f381-652a8d73a6bfd8e-qosaPK {
  background-color: transparent;
  bottom: -3px;
  color: #cec9c9;
  font-family: var(--font-family-couriernewpsmt);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  height: 98px;
  letter-spacing: 0.00px;
  line-height: 6.2px;
  position: absolute;
  right: 27px;
  text-align: left;
  white-space: nowrap;
  width: 27px;
}

.back-of-card .date-qosaPK {
  background-color: transparent;
  bottom: 86px;
  height: 13px;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 26px;
}

.back-of-card .hash-qosaPK {
  background-color: transparent;
  bottom: 84px;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  right: calc(33.10% - 9px);
  text-align: left;
  white-space: nowrap;
  width: 26px;
}

.back-of-card .line-71-qosaPK {
  background-color: transparent;
  bottom: 29.47%;
  height: 0px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 19px);
}

.back-of-card .group-554-qosaPK {
  background-color: transparent;
  bottom: 24px;
  height: 58px;
  left: 34px;
  position: absolute;
  width: 58px;
}

.back-of-card .path-539-GJatE8 {
  background-color: transparent;
  height: calc(100.00% + 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 1px);
}

.back-of-card .line-78-GJatE8 {
  background-color: transparent;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: 8px;
  top: 0px;
  width: 14px;
}

.back-of-card .x2021-GJatE8 {
  background-color: transparent;
  color: #d0d0d0;
  font-family: var(--font-family-couriernewpsmt);
  font-size: var(--font-size-xxs);
  font-style: normal;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  right: calc(47.24% - 12px);
  text-align: left;
  top: calc(47.19% - 6px);
  white-space: nowrap;
  width: 26px;
}

.back-of-card .path-540-GJatE8 {
  background-color: transparent;
  height: calc(100.00% - 15px);
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: calc(100.00% - 13px);
}

.back-of-card .line-79-GJatE8 {
  background-color: transparent;
  height: 13px;
  object-fit: cover;
  position: absolute;
  right: 6px;
  top: calc(35.30% - 5px);
  width: 5px;
}

.back-of-card .path-541-GJatE8 {
  background-color: transparent;
  height: calc(100.00% - 26px);
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: calc(100.00% - 25px);
}

.back-of-card .line-80-GJatE8 {
  background-color: transparent;
  bottom: calc(40.00% - 4px);
  height: 10px;
  object-fit: cover;
  position: absolute;
  right: calc(22.64% - 1px);
  width: 4px;
}

.back-of-card .group-555-LPwaVb {
  background-color: transparent;
  height: 59px;
  left: 42px;
  position: absolute;
  top: 397px;
  width: 260px;
}

.back-of-card .v-sc-lu-k-wg5-v-tds-x-t-rcxpim-V1cw8B {
  background-color: transparent;
  color: var(--gallery);
  font-family: var(--font-family-couriernewps-boldmt);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
  height: 13px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: calc(31.50% - 4px);
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.back-of-card .z-pju7-iv3q-e-t-fg-ynn9-nqy-wmp-V1cw8B {
  background-color: transparent;
  bottom: -2px;
  color: var(--gallery);
  font-family: var(--font-family-couriernewps-boldmt);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
  height: 13px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.back-of-card .owner-V1cw8B {
  background-color: transparent;
  height: 13px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 32px;
}

.back-of-card .tx-V1cw8B {
  background-color: transparent;
  bottom: calc(29.80% - 4px);
  height: 13px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 14px;
}

.back-of-card .line-76-LPwaVb {
  background-color: transparent;
  height: 1px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 316px;
}

.back-of-card .group-556-LPwaVb {
  background-color: transparent;
  height: 19px;
  left: 138px;
  object-fit: cover;
  opacity: 0.91;
  position: absolute;
  top: 525px;
  width: 84px;
}

.back-of-card .nft-LPwaVb {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-open_sans);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2px 2px #00000029;
  top: 45px;
  white-space: nowrap;
  width: auto;
}

.back-of-card .gendered-environments-LPwaVb {
  background-color: transparent;
  color: #f5f5f5;
  font-family: var(--font-family-pt_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 230px;
  position: absolute;
  text-align: left;
  text-shadow: 0px 2px 2px #00000041;
  top: 256px;
  white-space: nowrap;
  width: auto;
}

.back-of-card .rectangle-520-LPwaVb {
  background-color: transparent;
  height: 267px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 77px;
  width: 310px;
}

.back-of-card .line-77-LPwaVb {
  background-color: transparent;
  height: 1px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 344px;
  width: 316px;
}

.back-of-card .line-82-LPwaVb {
  background-color: transparent;
  height: 1px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 76px;
  width: 315px;
}

.back-of-card .httpsbitly3-fpiim-c-LPwaVb {
  background-color: transparent;
  color: #9b9b9b;
  font-family: var(--font-family-open_sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: 209px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 324px;
  width: 129px;
}


.scene {
  width: 600px;
  height: 260px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.25s;
  transform-style: preserve-3d;
}

.card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
   -webkit-backface-visibility: hidden;
}

.card-face-front {

}

.card-face-back {
    transform: rotateY( 180deg );
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.current-state { position: absolute; width: 320px; height: 183px; left: 500px; top: 50px; font-size: 18px;}

.is-purchased { line-height: 21px !important; left: 25% !important; }